@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body > div{


	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	padding: 0.75rem 0;
	line-height: 1.5;
	color: #122550;

	}

div, td, th {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 20px;
}

section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
}

table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
table a:hover {
  text-decoration: underline;
}
table th {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

table .th-num {
  width: 100px;
  text-align: center;
}

table .th-date {
  width: 200px;
}

table th, table td {
  padding: 14px 0;
}

table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

table tbody th p{
  display: none;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;

} 
#myPageDiv {
	padding-top: 50px;
	height: 800px;
	line-height: 1.5;
	width: 70%;
	margin: 0 auto;
}
#myPageDiv button{
	margin:10px;
}
#memUpdateDiv{
	padding-top:10px;
	margin:0 auto;
	width:500px;
	height: 800px;
}
#memUpdateDiv input{
	padding-top:10px;
	padding-bottom:15px;
	margin-top:10px;
	
}
#memUpdateDiv div{
	padding-left: 150px;

}


